/* Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/* Mix */
.flex-container {
    display: flex;
}

.text-center {
    text-align: center;
}

.list-style {
    list-style: none;
}

/* Cursor-pointer */
.aside-lists-logo .logo,
.aside-lists-logo li a,
.upper-profile,
.lower-profile img,
.main-list li a,
.upgrade-bar button,
.music-box,
.song-info-text p,
.album-info-icons ion-icon,
.player ion-icon,
.play-bar,
.player-settings ion-icon,
.play-bar-small {
    cursor: pointer;
}

/* Main */
main {
    height: calc(100% - 90px);
    overflow: auto;
}

/* Aside lists and logo */
aside {
    color: #fff;
    background-color: #000;
    width: 230px;
    height: 100%;
    padding: 15px 40px 5px 20px; 
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.aside-lists-logo {
    overflow: hidden;
    flex-direction: column;
}

.aside-lists-logo li {
    border-left: 3px solid transparent;    
}

.aside-lists-logo li:hover {
    border-left: 3px solid #adff2f;
}

.second-list li:hover:first-child {
    border-left: 3px solid #ff8412;
}

.aside-lists-logo li a {
    margin-left: 2px;
}

.first-list a,
.second-list a,
.aside-profile h5 {
    font-size: 12px;
    color: #717171;
    text-decoration: none;
    font-weight: 700;    
}

.first-list a:hover,
.second-list a:hover,
.aside-profile h5:hover {
    color: #fff;
}

.first-list {
    margin-bottom: 25px;
}

.first-list li {
    padding: 5px 0;
}

.first-list img {
    width: 15%;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.second-list {
    overflow-y: auto;
}

.second-list h3 {
    text-transform: uppercase;
    margin-left: 2px;
}

.second-list li {
    padding: 10px 0;
}

/* Aside profile parts */
#aside-plus-icon {
    font-size: 30px;
    color: #000;
    background-color: #717171;
    padding: 5px;
    vertical-align: middle;
    margin-right: 10px;
}

.aside-profile p {
    color: #fff;
    font-weight: 700;
}

.upper-profile {
    border-bottom: 1px solid #717171;
    padding-top: 5px;
}

.upper-profile img {
    width: 10%;
}

.lower-profile img {
    background-color: #717171;
    border-radius: 50%;
    width: 12%;
}

.upper-profile img,
.lower-profile img {
    margin-right: 10px;
}

.upper-profile,
.lower-profile {
    padding: 10px 0;
    align-items: center;
}

/* Responsive */
@media screen and (min-width: 614px) {
    #hidden-logo {
        display: none;
    }
}

@media screen and (max-width: 614px) {
    aside {
        width: 40px;
        padding: 0;
    }
    
    .aside-lists-logo img,
    #hidden-logo {
        cursor: pointer;
    }

    #hidden-logo {
        width: 25px;
        height: 25px;
        margin: 10px 0 15px 8px;
        display: block;
    }

    .first-list li {
        height: 35px;
        padding: 0;
    }
    
    .logo,
    .first-list a,
    .second-list {
        display: none;
    }

    .first-list img,
    .aside-profile img {
        width: 25px;
        height: auto;
        margin-right: 0;
        margin-left: 5px;
    }

    .upper-profile {
        border-bottom: none;
    }

    .upper-profile,
    .lower-profile {
        padding: 0;
    }

    .aside-profile h5,
    .aside-profile p {
        display: none;
    }

    .lower-profile img {
        margin: 7px 0 5px 7px;
    }
}

/* Spotify features (lists, rows...) */
.spotify-features {
    width: 100%;
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding: 0 15px;
}

.spotify-features h3 {
    color: #fff;
    font-size: 16px;
    margin: 12px 0 10px;
}

/* Upgrade bar */
.upgrade-bar {
    position: fixed;
    right: 0;
    z-index: 3;
    width: calc(100% - 230px);
    height: 80px;
    background-color: #080b12;
    opacity: 0.8;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-bar button {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: inherit;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px 45px;
    margin-right: 25px;
    transition: 0.5s;
}

.upgrade-bar button:hover {
    transform: scale(1.2);
}

/* Music-items part */
.main-list {
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.main-list ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 5px; 
}

.main-list li:not(:last-child) {
    margin-right: 20px;
}

.main-list li::after {
    content: "";
    display: block;
    border-bottom: 3px solid transparent;
    width: 30px;
    height: 1px;
    margin: 2px auto auto;
}

.main-list li:hover::after {
    border-bottom: 3px solid #adff2f;
}

.main-list li a {
    color: #7d7f84;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/* Spotify featires titles and rows */
.category-title h2 {
    color: #fff;
    font-size: 24px; 
    margin-top: 25px;                
}

.category-title,
.music-box p,
footer p {
    font-size: 12px;
    color: #717171;
    font-weight: 700;
}

.category-title p {
    margin: 10px 0 30px;
}

.recently-played {
    margin-top: 30px;
}

.popular-artists {
    margin-bottom: 20px;
}

.recently-played .music-box,
.created .music-box,
.popular-artists .music-box {
    flex-basis: 20%;
}

.recently-played .music-box:not(:last-child),
.created .music-box:first-child,
.popular-artists .music-box:first-child {
    margin-right: 15px;
}

.music-box img {
    width: 100%;
}

.popular-artists .music-box img {
    border-radius: 50%;
}

.img-box {
    position: relative;
}

.img-box:hover img {
    opacity: 0.3;
}

.overlay {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.img-box:hover .overlay {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    visibility: visible;
}

.start-icon {
    font-size: 50px;
    color: #f8f8f8;
    border: 8px solid #f8f8f8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 5px 5px 10px;
}

/* Responsive */
@media screen and (min-width: 950px) {
    .recently-played .music-box,
    .created .music-box,
    .popular-artists .music-box {
        flex-basis: 15%;
    }
}

@media screen and (max-width: 950px) {
    .spotify-features {
        padding-left: 20px;
    }

    .main-list li {
        margin-bottom: 30px;
    }

    .category-title p {
        margin-bottom: 5px;
    }

    .recently-played,
    .created,
    .popular-artists {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .recently-played .music-box,
    .created .music-box,
    .popular-artists .music-box {
        flex-basis: 22%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 758px) {
    .upgrade-bar button p {
        margin: 0 25px;
    }

    .upgrade-bar button {
        padding: 15px 10px;
    }

    .recently-played .music-box,
    .created .music-box,
    .popular-artists .music-box {
        flex-basis: 40%;
    }
    
    .overlay .start-icon {
        font-size: 40px;
        padding-left: 8px;
        border: 6px solid #fff;
    }
}

@media screen and (max-width: 614px) {
    .upgrade-bar {
        width: 100%;
        left: 40px;
        padding-right: 35px;
    }

    .upgrade-bar button p {
        margin: 0 15px;
    }

    .recently-played .music-box, .created .music-box, .popular-artists .music-box {
        flex-basis: 45%;
    }
}

/* Footer */
footer {
    background-color: #282828;
    height: 90px;
    padding: 0 25px 5px;
}

footer,
.album-info {
    justify-content: space-between;
}

footer,
.album-info,
.song-info,
.buttons,
.player,
.player-settings {
    align-items: center;
}

.album-info,
.player-settings {
    flex-basis: 18%;
}

.player {
    flex-basis: 64%;
}

/* Left part */
.album-info-icons {
    color: #717171;
    font-size: 20px;
}

.album-info-icons ion-icon:first-child {
   margin-right: 10px;
}

.first-icon:hover ion-icon,
.second-icon:hover ion-icon {
   color: #fff;
}

.album-info img {
    width: 55px;
    height: auto;
    margin-right: 10px
}

.album-info h5 {
    font-size: 14px;
    color: #fff;
}

.song-info-text p:hover {
    color: #fff;
    text-decoration: underline;
}

/* Middle part */
.player {
    flex-direction: column;
    justify-content: center;
}

.buttons {
    margin-bottom: 10px;
}

.buttons ion-icon {
    font-size: 20px;
    color: #fff;
}

.buttons ion-icon:not(:last-child) {
    margin-right: 25px;
}

#start-player {
    border-radius: 50%;
    border: 4px solid #fff;
    padding: 3px 3px 3px 5px;
}

#start-player:hover {
    transform: scale(1.5);
    transition: 0.2s;
}

.length-bar {
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.length-bar p {
    color: #fff;
    font-size: 10px;
}

.play-bar {
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: #717171;
    margin: 0 20px;
}

.listen-bar {
    position: relative;
    border-radius: 15px;
    width: 25%;
    height: 5px;
    background-color: #fff;
}

.listen-bar ion-icon {
    right: 0;
    width: 15px;
    height: 15px;
    transform: translate(35%, -50%);
}

.listen-bar ion-icon,
.listen-bar-small ion-icon {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    color: #fff;
    visibility: hidden;
}    

.play-bar:hover .listen-bar,
.listen-bar:hover,
.play-bar-small:hover .listen-bar-small,
.listen-bar-small:hover {
    background-color: #adff2f;
}

.play-bar:hover .listen-bar ion-icon,
.listen-bar:hover ion-icon,
.play-bar-small:hover .listen-bar-small ion-icon,
.listen-bar-small:hover ion-icon {
    visibility: visible;
}

/* Right part */
.play-bar-small {
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background-color: #717171;
}

.listen-bar-small {
    position: relative;
    width: 25%;
    height: 5px;
    border-radius: 15px;
    background-color: #fff;
}

.listen-bar-small ion-icon {
    right: -5px;
    width: 10px;
    height: 10px;
    transform: translate(150%, -50%);
}

.player-settings ion-icon {
    color: #fff;
    font-size: 40px;
    margin-right: 15px;
}

/* Responsive */
@media screen and (max-width: 950px) {
    .album-info,
    .player-settings {
        flex-basis: 30%;
    }

    .album-info-icons {
        margin-left: 20px;
    }
}

@media screen and (max-width: 758px) {
    .album-info-icons {
        flex-direction: column;
   }
}

@media screen and (max-width: 614px) {
   .album-info img { 
        width: 35px;
        height: auto;
    }

    .buttons ion-icon {
    font-size: 15px;
    color: #fff;
    }

    .length-bar {
        width: 80%;
    }

    #start-player {
        border: 4px solid #fff;
        padding: 4px 3px 4px 5px;
    }
}