/* Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

/* Mix */
.flex-container {
    display: flex;
}

.text-center {
    text-align: center;
}

.list-style {
    list-style: none;
}

/* Main */
main {
    height: calc(100% - 80px);
    overflow: auto;
}

/* Aside lists and logo */
aside {
    color: #fff;
    background-color: #000;
    width: 230px;
    height: 100%;
    padding: 15px 40px 5px 20px; 
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

.aside-lists-logo {
}

.first-list,
.second-list {
}

.first-list a,
.second-list a,
.aside-closing h5 {
    font-size: 14px;
    color: #717171;
    text-decoration: none;
    font-weight: 700;
    
}

.first-list {
    margin: 25px 0;
}

.first-list img {
    width: 30%;
    height: auto;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle;
}

.second-list ul {
    overflow: auto;
}

.second-list h3 {
    text-transform: uppercase;
}

.second-list li {
    padding: 10px 0;
}

#aside-plus-icon {
    font-size: 30px;
    color: #000;
    background-color: #717171;
    padding: 5px;
    vertical-align: middle;
    margin-right: 10px;
}

.aside-closing h5::after {
    content: "";
    display: block;
    color: #717171;
    border-bottom: 1px solid #717171;
    width: 100%;
    height: 3px;
    margin: 5px 0;
}

.aside-closing p {
    color: #fff;
    font-weight: 700;
}

/* Spotify features (lists, rows...) */
.spotify-features {
    width: 100%;
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding: 0 15px;
}

.spotify-features h3 {
    color: #fff;
    font-size: 18;
}
/* Upgrade bar */
.upgrade-bar {
    position: fixed;
    right: 0;
    z-index: 3;
    width: calc(100% - 230px);
    height: 80px;
    background-color: #080b12;
    opacity: 0.8;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-bar button {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: inherit;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px 45px;
    margin-right: 25px;
    transition: 0.5s;
}

.upgrade-bar button:hover {
    transform: scale(1.2);
}

/* Music-items part */
.music-container {
    width: calc(100% - 230px);
    margin-top: 80px;
}

.main-list {
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.main-list ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 5px; 
}

.main-list li:not(:last-child) {
    margin-right: 20px;
}

.main-list li:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #adff2f;
    width: 30px;
    height: 1px;
    margin: 2px auto auto;
}

.main-list li a {
    color: #7d7f84;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.category-title h2 {
    color: #fff;
    font-size: 24px; 
    margin-top: 25px;                
}

.category-title,
.music-box p {
    font-size: 14px;
    color: #717171;
    font-weight: 700;
}

.category-title p {
    margin: 15px 0 25px;
}

.recently-played {
    margin-top: 30px;
}

.recently-played .music-box {
    flex-basis: calc(100% / 6);
}

/* Footer */
footer {
    background-color: #282828;
    height: 80px;
}